local.build.properties
dependencies
work
org.apache.ivyde.*/bin
org.apache.ivyde.eclipse/doc
doc/screenshot-projects/eclipse
doc/screenshot-projects/workspace
doc/screenshot-projects/*/bin
test/*/bin
test/retrieve/work-ivy
test/retrieve/lib
test/retrieve/lib-ant
test/retrieve/apache-ivy-2.0.0-beta2-bin.zip
test/retrieved-classpath/lib
test/retrieve-by-type/lib
test/retrieve-conf/lib
test/retrieve-in-workspace/lib
test/cache-fakerepo
test/cache-sshrepo
test/jetty-webapp/webapp/WEB-INF/classes
test/ivy-user-dir/ivyuserdir/cache
doc/sample/webapp-js-repo/webapp/bin
.DS_Store
.idea
*.iml
checkstyle/report
dist
doc/src/sample/webapp-js-repo.zip