#	 ***************************************************************
#	 * Licensed to the Apache Software Foundation (ASF) under one
#	 * or more contributor license agreements.  See the NOTICE file
#	 * distributed with this work for additional information
#	 * regarding copyright ownership.  The ASF licenses this file
#	 * to you under the Apache License, Version 2.0 (the
#	 * "License"); you may not use this file except in compliance
#	 * with the License.  You may obtain a copy of the License at
#	 * 
#	 *   http://www.apache.org/licenses/LICENSE-2.0
#	 * 
#	 * Unless required by applicable law or agreed to in writing,
#	 * software distributed under the License is distributed on an
#	 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#	 * KIND, either express or implied.  See the License for the
#	 * specific language governing permissions and limitations
#	 * under the License.
#	 ***************************************************************
# ===================================================================
# Sample build.properties file
#
# Make a copy this file named "build.properties",
# and customize it to your environment and preferences.
#
# $Id: build.properties.sample 190382 2005-06-13 10:58:56Z oglueck $
# ===================================================================

# ===================================================================
# Classpath Settings
# ===================================================================

# The base directory for libraries used by HttpClient
lib.dir=./lib

# Required compile and runtime dependencies.
commons-logging.jar=${lib.dir}/commons-logging.jar
commons-codec.jar=${lib.dir}/commons-codec.jar

# Required to compile and run the unit tests.
junit.jar=${lib.dir}/junit.jar

# A JSSE implementation (see http://java.sun.com/products/jsse):
# Required to compile, only needed at runtime if you're using HTTPS.
# A JCE implementation (see http://java.sun.com/products/jce):
# Required to compile, only needed at runtime if you're using NTLM.

# Both JSSE and JCE are expected to be present and configured in 
# the JDK/JRE

# ===================================================================
# Test Properties - used to configure the test cases
# ===================================================================

#  - indicates which log writer to use (optional)

httpclient.test.log=org.apache.commons.logging.impl.SimpleLog
#httpclient.test.log=org.apache.commons.logging.impl.Log4JCategoryLog
#httpclient.test.log=org.apache.commons.logging.impl.NoOpLog
maven.username=yourASFid
maven.repo.asf.privatekey=/home/myuser/.ssh/id_dsa
